# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom
.buildlog
.history
.svn
.idea
.vscode

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configurations and tasks used by the VS Code editor
.vscode/

# Flutter/Dart-related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android-related
**/android/**/generated/
**/android/gen/
**/android/out/
**/android/.gradle/
**/android/build/
**/android/app/build/
**/android/local.properties
**/android/**/local.properties
**/android/gradle/
**/android/captures/
**/android/.externalNativeBuild/
**/android/.cxx/
**/android/app/src/main/res/xml/provider_paths.xml

# iOS-related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/App.structur
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/DerivedData/
**/ios/config/

# Environment variables
.env*
!.env.example

# Web-related
lib/generated_plugin_registrant.dart

# Symbolication logging
app.*.symbols
app.*.map.json

# Exceptions to above rules
!**/android/gradle-wrapper.properties
!**/android/gradlew
!**/android/gradlew.bat
